<div class="d-flex">
  <%= render 'shared/adminsidebar' %>
  <div class="main-content" style="margin-left: 40px;">
    <div class="top-message d-flex justify-content-between">
      <h4>Trainings</h4>
      <h4><%= Time.now.strftime("%A, %b %d") %></h4>
    </div>
      <div class="tables-admin d-flex justify-content-between">
        <div class="trainings-card-admin scrollbar-hidden">
        <div class="d-flex justify-content-between">
          <h3 class="mb-5">All trainings</h3>
          <%= link_to "New Training", new_training_path, class: "btn training-btn mr-0", style: "height: 50%" %>
        </div>
          <div class="table-item d-flex justify-content-sm-between mb-4">
            <p style="width: 5%">Name</p>
            <p class="pl-2" style="width: 10%">Number of Sections</p>
            <p style="width: 15%">Department</p>
            <p class="pl-3" style="width: 20%">Length of Training</p>
            <div class="icons">
              <i class=""></i>
              <i class=""></i>
              <i class=""></i>
            </div>
          </div>
          <% @alltrainings.each do |training| %>
          <%# add modal to iteration here %>
            <div class="table-item d-flex justify-content-sm-between mb-4">
              <p style="width: 10%"><%= training.name %></p>
              <p style="width: 5%"><%= training.sections.length %></p>
                <p style="width: 20%"><%= training.department %></p>
                <p style="width: 10%"><%= training.training_length / 60%>h<%= training.training_length % 60%>min</p>
                <div class="icons">
                  <%= link_to edit_training_path(training) do %>
                    <i class="fas fa-pen mr-3"></i>
                  <% end %>
                  <i class="fas fa-trash-alt mr-3"></i>
                  <i  data-toggle="modal" data-target="#modal_training_<%= training.id %>" id="edit-<%training%>" class="fas fa-plus"></i>
                </div>
            </div>
            <div class="modal fade" id="modal_training_<%= training.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header ">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%= training.name %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>  
                  <div class="modal-body">
                    <h6>Assigned Employees</h6>
                  <% training.users.each do |user| %>
                    <span class="employee-badge mr-2"><%= user.full_name %></span>
                  <% end %>
                    <%= simple_form_for [training, @training_user] do |f|%>
                      <%= f.input :users,
                                  label: "Assign Employees",
                                  label_method: :full_name,
                                  collection: User.available_trainees(training),
                                  input_html: {multiple: true, class: 'multiple-select'} %>
                  </div>
                  <div class="modal-footer mt-0 border-0 ">
                        <%= f.submit "Assign training", class: "btn training-btn mr-1" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

