<!-- <h1>Training#index</h1>
<p>Find me in app/views/training/index.html.erb</p>
 -->
<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>
<div class='content'>

  <h2 class='my-5'>Here are your trainings <%= current_user.first_name %> !</h2>

  <!-- WE ITERATE OVER ALL THE TRAININGS FOR A SPECIFIC USER -->
  <% @trainings.each do |training| %>

    <!-- CARD FOR EACH TRAINING -->
    <div class="col-lg-4">
      <div class="card-dash card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-12 text-left">
              <h2 class="card-title"><%= training.name %></h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <i class="fas fa-chart-pie"></i> 70%
              </div>
              <h2 class="card-trip-pricing"><i class="far fa-arrow-alt-circle-right"></i> <%= link_to 'START', training_path(training)%></h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</div>
