<div class="d-flex">

  <!-- ADMIN SIDEBAR ON THE LEFT -->
  <%= render 'shared/adminsidebar' %>

  <!-- ALL THE CONTENT RIGHT TO THE SIDEBAR -->
  <div class="main-content" style="margin-left: 40px;">

    <!-- TOP MESSAGE WITH DATE AND TIME -->
    <div class="top-message d-flex justify-content-between">
      <h4>Trainings</h4>
      <h4><%= Time.now.strftime("%A, %b %d") %></h4>
    </div>

    <div style="margin-bottom: 15px;">
      <%= link_to "New Training", new_training_path, class: "btn training-btn mr-0", style: "height: 50%; margin-left: 0;" %>
    </div>

    <!-- CARD CONTAINING THE TABLE -->
    <!-- <div class="trainings-card-admin scrollbar-hidden" style="width: 98%;"> -->
    <div class="trainings-card mt-2" style="width: 98%;">

      <!-- TABLE WITH ALL THE TRAININGS -->
      <table class="table table-item w-100">
          <tr>
            <td>
              <table class="w-100" >
                <tr class="border-bottom border-white">
                  <th style="width: 20%;" ><p><strong>Name</strong></p></th>
                  <th style="width: 20%; text-align: center;" ><p><strong>Number of Sections</strong></p></th>
                  <th style="width: 20%; text-align: center;" ><p><strong>Department</strong></p></th>
                  <th style="width: 20%; text-align: center;" ><p><strong>Length of Trainings</strong></p></th>
                  <th style="width: 20%; text-align: center;" ><p></p></th>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div class="scrollbar-hidden" style="height:70vh; overflow:auto;">
                <table class="w-100">
                  <% @alltrainings.each do |training| %>
                    <tr>
                      <td style="width: 20%;"><p><%= training.name %></p></td>
                      <td style="width: 20%; text-align: center;"><p><%= training.sections.length %></p></td>
                      <td style="width: 20%; text-align: center;"><p><%= training.department %></p></td>
                      <td style="width: 20%; text-align: center;"><p><%= training.training_length / 60%>h<%= training.training_length % 60%>min</p></td>
                      <td style="width: 20%; text-align: center;">
                        <div class="icons d-flex d-flex justify-content-between">
                          <%= link_to edit_training_path(training) do %>
                            <i class="fas fa-pen mr-3"></i>
                          <% end %>
                          <i class="fas fa-trash-alt mr-3"></i>
                          <i  data-toggle="modal" data-target="#modal_training_<%= training.id %>" id="edit-<%training%>" class="fas fa-plus"></i>
                        </div>
                      </td>
                      <!-- MODAL -->
                      <div class="modal fade" id="modal_training_<%= training.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header ">
                              <h5 class="modal-title" id="exampleModalLongTitle"><%= training.name %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h6>Assigned Employees</h6>
                              <% training.users.each do |user| %>
                                <span class="employee-badge mr-2"><%= user.full_name %></span>
                              <% end %>
                              <%= simple_form_for [training, @training_user] do |f|%>
                                <%= f.input :users,
                                            label: "Assign Employees",
                                            label_method: :full_name,
                                            collection: User.available_trainees(training),
                                            input_html: {multiple: true, class: 'multiple-select'} %>
                              <div class="modal-footer mt-0 border-0 ">
                                    <%= f.submit "Assign training", class: "btn training-btn mr-1" %>
                              </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  <% end %>
                </table>
              </div>
            </td>
          </tr>
        </table>

    </div>
  </div>
</div>
