<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="content">
  <h2 class='my-5'>Welcome back to <strong><%= @training.name %></strong> !</h2>
<div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Module
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Length
                    </th>
                    <th class="text-center">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @sections.each do |section| %>
                  <tr>
                    <td>
                      <%= section.name %>
                    </td>
                    <td>
                      80%
                    </td>
                    <td>
                      <%= section.length %>
                    </td>
                    <td class="text-center">
                      <%= link_to 'START', section_path(section) %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
</div>

