<div class="sidebar">
  <div class="side-bar-top">
    <h3><img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/227_Netflix_logo-512.png" alt=""><%= current_user.company.name %></h3>
    <p>Powered by The Perfect Swing™</p>
  </div>
  <div class="side-bar-menu mt-5">
    <ul class="top-links navigation">
      <li class="<%= 'active' if current_page?(dashboard_path) %>"><%= link_to 'Dashboard', dashboard_path %></li>
      <li class="<%= 'active' if current_page?(edit_user_registration_path(current_user)) %>"><%= link_to 'Profile', edit_user_registration_path(current_user) %></li>
      <li class="<%= 'active' if current_page?(peers_path) %>"><%= link_to 'Peers', peers_path %></li>
      <li><%= link_to 'Company news', root_path %></li>
      <div class="d-flex align-items-start">
        <li class="mr-3"><%= link_to 'Announcements', root_path %></li>
        <span class="badge">2</span>
      </div>
    </ul>
    <% if controller_name == "sections" && action_name == "show"%>
    <b><p class="mt-5 mb-3">Training chapters</p></b>
    <ul class="ml-2 bottom-links navigation">
      <% @sections.each do |section| %>
        <li class="<%= 'active' if current_page?(section_path(section)) %>">
          <i class="fas fa-check-circle mr-2 <%= 'active' if SectionUser.completed?(section, current_user) %>"></i>
      <%= link_to section.name, section_path(section) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <div class="logout d-flex justify-content-around">
    <i class="fas fa-power-off"></i>
    <h4>Log Out</h4>
  </div>
  <% end %>
</div>
