<%= simple_form_for :answers, url: section_user_path(@section_user), method: :patch do |f| %>
<% @questions.each_with_index do |question, index| %>
<div class="mb-2 <%= @questions.first == question ? "" : "d-none"%>" data-step="<%= index %>">
  <div class="d-flex">
    <p style="width: 80%"><%= question.content %></p>
    <p><%= index + 1 %>/<%= @questions.length %></p>
  </div>
  <%= f.simple_fields_for "question_#{question.id}".to_sym do |z| %>
  <div class="answers">
    <%= z.collection_radio_buttons :selected_answer, question.shuffle_answers, :first, :last %>
  </div>
  <% end %>
  <div class="buttons d-flex">
    <% if question != @questions.last %>
    <button class="next-btn" type="button" data-next-step="<%= index + 1 %>">Next</button>
    <% else %>
    <button type="button" id="fake-btn" class="next-btn" data-loader="true">Submit Results</button>
    <% end %>
  </div>
</div>
<% end %>
<% end %>

<%= render 'shared/modal' %>
