<div class="section-show">
  <div class="quiz-page d-flex">
    <% if current_user.admin? %>
      <%= render 'shared/adminsidebar' %>
      <% else %>
      <%= render 'shared/sidebar' %>
      <% end %>
   <div class="top-section">
    <% if !current_user.admin? %>
    <div class="top-message d-flex justify-content-between">
    <p class="mb-4">Keep it up <%= current_user.first_name %> <%= current_user.last_name %>!</p>
      <h4><%= Time.now.strftime("%A, %b %d") %></h4>
    </div>
    <% else %>
    <div class="top-message d-flex justify-content-end">
      <h4><%= Time.now.strftime("%A, %b %d") %></h4>
    </div>
    <% end %>
    <div class="text-score d-flex justfiy-content-between">
      <div class="text-section mb-4">
        <h2><%= @training.name %></h2>
        <h3 class= "mb-4"><%= @section.name %></h3>
        <p><%= @section.description %></p>
      </div>
      <div class="score">
      <% if !current_user.admin? %>
        <h3>Previous score</h3>
        <h2><%= ((@section_user.quiz_score  / 100.0) * @questions.length).round %> / <%= @questions.length %></h2>
        <%= link_to "previous attempt results", section_path(@section_user.section), id: "previous-quiz-result", info: "Your score was #{@section_user.quiz_score}" %>
      <% end %>
      </div>
      </div>
          <div>
            <iframe width="560" height="300" src="<%= @section.embedded_video_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        <div class="quiz-section">
          <div class="quiz-form quiz-content">
          <h3 class= "mb-4">Quiz</h3>
          <% if current_user.admin? %>
            <%= render 'section_quiz_preview' %>
            <% else %>
            <%= render 'section_quiz' %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
