<div class="d-flex">
  <%= render 'shared/adminsidebar' %>
  <div class="main-content mx-4">
    <!-- TOP MESSAGE -->
    <div class="top-message d-flex justify-content-between">
      <h4>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h4>
      <h4><%= @t.strftime("%A, %b %d") %></h4>
    </div>
    <!-- TOP SECTION -->
    <div class="d-flex justify-content-around">
      <!-- MAIN CHART -->
      <div class="reg-chart">
        <div class="main">
          <canvas id="regChart"></canvas>
        </div>
      </div>
      <div class="right-charts d-flex justify-content-between">
        <div class="train-chart">
          <div class="train">
            <div class="d-flex justify-content-center">
              <p class="mr-3"><i class="far fa-user mr-2"></i>Users</p>
              <p><i class="fas fa-chart-line mr-2"></i>Trainings</p>
            </div>
            <canvas id="trainChart"></canvas>
          </div>
        </div>
        <div class="prog-chart">
          <div class="prog">
            <canvas id="progChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLES -->
    <div class="tables d-flex justify-content-around">
      <div class="todolist h-70vh scrollbar-hidden" style="overflow: scroll">
        <table class="table table-item">
          <!-- HEADERS -->
          <thead>
            <tr>
              <th scope="col"><p><strong>Name</strong></p></th>
              <th scope="col"><p><strong>Department</strong></p></th>
              <th scope="col"><p><strong>Progress</strong></p></th>
              <th scope="col"><p></p></th>
            </tr>
          </thead>
          <!-- BODY ITERATING ON PEERS -->
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><p><%= user.first_name %> <%= user.last_name %></p></td>
              <td><p>Software Engineering</p></td>
             <td style="width: 25%;">
                <div class="icons d-flex justify-content-between">
                  <div class="d-flex justify-content-end" style="width: 50%;">
                    <p style="line-height: 1.5rem"><%= user.trainings.count %></p>
                    <i class="fas fa-book-open ml-2" style="color: rgba(172, 170, 255, 1)"></i>
                  </div>
                  <div class="d-flex justify-content-end" style="width: 50%;">
                    <p style="line-height: 1.5rem"><%= user.trainings_completed_by(user) %></p>
                    <i class="far fa-check-circle ml-2" style="color: rgba(172, 170, 255, 1)"></i>
                  </div>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="trainings-card h-70vh scrollbar-hidden">
        <h3 class="mb-5">Timeline</h3>
        <% @timeline_items.each_with_index do |item, index| %>
        <div class="timeline-item" date-is='<%= (Date.today - index).strftime("%d-%m-%Y") %>'>
          <p><%= item.user.full_name %> has <%= [true, false].sample ? 'completed' : 'started' %> <%= item.training.name %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
