<div class="d-flex">
  <%= render 'shared/adminsidebar' %>
  <div class="main-content mx-4">
    <!-- TOP MESSAGE -->
    <div class="top-message d-flex justify-content-between">
      <h4>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h4>
      <h4><%= @t.strftime("%A, %b %d") %></h4>
    </div>
    <!-- TOP SECTION -->
    <div class="d-flex justify-content-around">
      <!-- MAIN CHART -->
      <div class="reg-chart">
        <div class="main">
          <canvas id="regChart"></canvas>
        </div>
      </div>
      <div class="right-charts d-flex justify-content-between">
        <div class="train-chart">
          <div class="train">
            <div class="d-flex justify-content-center">
              <p class="mr-3"><i class="far fa-user mr-2"></i>Users</p>
              <p><i class="fas fa-chart-line mr-2"></i>Trainings</p>
            </div>
            <canvas id="trainChart"></canvas>
          </div>
        </div>
        <div class="prog-chart">
          <div class="prog">
            <canvas id="progChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLES -->
    <div class="tables d-flex justify-content-around">
      <div class="todolist scrollbar-hidden" style="overflow: scroll">
        <table class="table table-item">
          <!-- HEADERS -->
          <thead>
            <tr>
              <th scope="col"><p><strong>Name</strong></p></th>
              <th scope="col"><p><strong>Department</strong></p></th>
              <th scope="col"><p><strong>Progress</strong></p></th>
              <th scope="col"><p></p></th>
            </tr>
          </thead>
          <!-- BODY ITERATING ON PEERS -->
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><p><%= user.first_name %> <%= user.last_name %></p></td>
              <td><p>Software Engineering</p></td>
             <td style="width: 25%;">
                <div class="icons d-flex justify-content-between">
                  <div class="d-flex justify-content-end" style="width: 50%;">
                    <p style="line-height: 1.5rem"><%= user.trainings.count %></p>
                    <i class="fas fa-book-open ml-2" style="color: rgba(172, 170, 255, 1)"></i>
                  </div>
                  <div class="d-flex justify-content-end" style="width: 50%;">
                    <p style="line-height: 1.5rem"><%= user.trainings_completed_by(user) %></p>
                    <i class="far fa-check-circle ml-2" style="color: rgba(172, 170, 255, 1)"></i>
                  </div>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="trainings-card scrollbar-hidden">
        <h3 class="mb-5">Timeline</h3>
        <div class="timeline-item" date-is='23-03-2021'>
          <p>Andrew stopped crying.</p>
        </div>
        <div class="timeline-item" date-is='20-03-2021'>
          <p>Spencer Schaefer shared a file</p>
          <div class="file d-flex">
            <img class="mr-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" alt="file icon">
            <div class="actions d-flex">
              <i class="fas fa-file-download"></i>
              <i class="fas fa-external-link-alt"></i>
            </div>
            <div>
              <h6>Netflix Analytics</h6>
              <p style="font-size: 12px; margin: 0;">analytics.pdf</p>
              <p style="font-size: 10px;">88 KB</p>
            </div>
          </div>
        </div>
        <div class="timeline-item" date-is='21-03-2021'>
          <p>Jordan Belfort has finished OOP training successfully.</p>
        </div>
      </div>
    </div>
  </div>
