<div class="d-flex">
  <%= render 'shared/sidebar' %>
  <div class="main-content" style="margin-left: 40px;">
    <!-- TOP MESSAGE -->
    <div class="top-message d-flex justify-content-between">
      <h4>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h4>
      <h4><%= @t.strftime("%A, %b %d") %></h4>
    </div>
    <!-- MATRIX -->
    <div class="matrix d-flex">
      <div class="item">
        <h1 style="color: #ACAAFF;"><%= current_user.hours_completed_by(current_user) %></h1>
        <p>hours completed</p>
      </div>
      <div class="item">
        <h1 style="color: #FF8DE6;"><%= current_user.trainings_completed_by(current_user) %></h1>
        <p>trainings completed</p>
      </div>
      <div class="item">
        <h1 style="color: #FFCB65"><%= current_user.overall_progress_of(current_user) %>%</h1>
        <p>overall progress</p>
      </div>
    </div>
    <!-- CARDS -->
    <div class="cards mb-5">
      <% @trainings.each do |training| %>
      <%= link_to training_path(training) do %>
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <i class="fas fa-globe"></i>
          <p><%= training.department %></p>
        </div>
        <div class="card-body">
          <h4><%= training.name %></h4>
          <p><%= training.training_length %> hrs</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <p> <%= training.progress_of(current_user) %>%</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= training.progress_of(current_user) %>%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

    <!-- TABLES -->

    <div class="tables d-flex">
      <div class="trainings-card scrollbar-hidden">
        <h3 class="mb-5">All trainings</h3>
        <% @alltrainings.each do |training| %>
        <div class="table-item d-flex justify-content-sm-between">
           <p style="width: 20%"><%= training.name %></p>
          <a tabindex="0" class="popover-dismiss" role="button" data-toggle="popover" data-trigger="focus" title="<%= training.name %>" data-content="<%= training.description %>"><i class="fas fa-info-circle"></i></a>
          <p style="width: 20%"><%= training.department %></p>
          <p style="width: 10%"><%= training.training_length %> hrs</p>
          <%= link_to training_path(training) do %>
          <i class="far fa-play-circle"></i>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="todolist">
        <div class="header d-flex justify-content-between">
          <h3>Tasks</h3>
          <button class="btn btn-primary">Add</button>
        </div>
        <div class="tasks-content d-flex">
          <i class="far fa-check-circle task completed"></i>
          <p>Todo Item</p>
        </div>
        <div class="tasks-content d-flex">
          <i class="far fa-check-circle task"></i>
          <p>Todo Item</p>
        </div>
        <div class="tasks-content d-flex">
          <i class="far fa-check-circle task"></i>
          <p>Todo Item</p>
        </div>
      </div>
    </div>
  </div>
</div>
