<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>
<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card-header">
        <div class="row">
          <div class="col-12 text-left">
            <h2 class="card-title">Welcome <%= @user.first_name %> <%= @user.last_name %>!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="mb-3">Latest trainings</h4>
  <div class="row horizontal">
    <% @trainings.each do |training| %>
    <div class="col-lg-4">
      <div class="flip-card-container" style="--hue: 220">
        <div class="flip-card">
          <div class="card-front">
            <figure>
              <div class="img-bg"></div>
              <img src="https://images.unsplash.com/photo-1509475826633-fed577a2c71b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80" alt="Brohm Lake">
              <figcaption><%= training.name %></figcaption>
            </figure>
          </div>
          <div class="card-back">
            <figure>
              <div class="img-bg"></div>
              <img src="https://images.unsplash.com/photo-1509475826633-fed577a2c71b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80" alt="Brohm Lake">
            </figure>
            <button><%= link_to 'CONTINUE', training_path(training) %></button>
            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card-dash card-tasks">
        <div class="card-header">
          <h4 class="card-title">Upcoming tasks</h4>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Update the Documentation</p>
                    <p class="text-muted">Dwuamish Head, Seattle, WA 8:47 AM</p>
                  </td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                    <i class="fas fa-pencil-alt"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card-dash">
          <div class="card-header">
            <h4 class="card-title">Trainings</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Length
                    </th>
                    <th class="text-center">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @trainings.each do |training| %>
                  <tr>
                    <td>
                      <%= training.name %>
                    </td>
                    <td>
                      80%
                    </td>
                    <td>
                      <% count = 0 %>
                      <% training.sections.each { |section| count += section.length } %>
                      <%= count %> hrs
                    </td>
                    <td class="text-center">
                      <%= link_to 'CONTINUE', training_path(training) %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
